<!DOCTYPE html>
<html>

<head>
  <title>CV-Maker</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link rel='stylesheet' href='./stylesheets/style.css' />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <style>

    @import url(https://fonts.googleapis.com/css?family=EB+Garamond|Cardo:400italic);

hr.line{
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
.heading-correct-pronounciation {
margin: auto;
text-align: center;
position: relative;
}
.styled-heading{
color: #ED2553;
font-size: 0.8em;
font-weight: normal;
font-style: italic;
line-height: 2.2em;
padding-bottom: 10px;

}
    </style>
</head>
<body>
    <h1 align="center" style="width: 100%;float: center;line-height: 46px;font-size: 50px;font-weight: 700;letter-spacing: 2px;color: #ED2553;position: relative;">404</h1>
    <p align="center" style="width: 100%;float: center;line-height: 46px;font-size: 20px;font-weight: 300;letter-spacing: 2px;color: #ED2553;position: relative;">This is not the page you are looking for.</p>
    <p align="center" style="width: 100%;float: center;line-height: 46px;font-size: 20px;font-weight: 300;letter-spacing: 2px;color: #ED2553;position: relative;"><a href = "/" style="color: inherit;">Go Back.</a></p>
    <div style="text-align: center;">
        <img src="./images/lucidcv.png" alt="icon" height=100px>
    </div>
</body>
</html>
